@import "./mixins/_color.less";

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

button.v-easy-button {
  position: relative;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid @border-color-leave1;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  touch-action: manipulation;
  padding: 8px 15px;
  outline: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  overflow: hidden;

  .button {
    &-icon-normal {
      margin-right: 10px;
    }

    &-text {
      position: relative;
      z-index: 1;
    }

    &-mask {
      position: absolute;
      left: 0;
      top: 0;
      background-color: @info-leave0;

      &:not(.button-mask-default) {
        width: 0;
        height: 0;
        border-radius: 50%;
      }

      &-text {
        transition: color .2s;
      }

      &-default {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        opacity: .3;
        transition: left .3s;
        cursor: pointer;
      }

      &-primary {
        background: #0d85ff;
        border-color: #0d85ff;
      }

      &-success {
        background-color: #85ce61;
        border-color: #85ce61;
      }

      &-warning {
        background-color: #ebb563;
        border-color: #ebb563;
      }

      &-error {
        background-color: #f78989;
        border-color: #f78989;
      }
    }
  }

  .is-rotate {
    animation: rotate .6s linear infinite;
  }
}

button.button.button-is {
  &-circle {
    border-radius: 50%;
    padding: 12px;

    i {
      margin: 0;
      width: 14px;
      height: 14px;
    }

    .button-mask {
      border-radius: 50%;
    }
  }

  &-disabled {
    opacity: .4;
    cursor: not-allowed;
  }

  &-plain {
    background: none;
    border: 1px solid #eeeeee;
  }

  &-plain.easy-button {
    &-primary {
      border-color: @primary;
      color: @primary;
    }

    &-success {
      border-color: @success;
      color: @success;
    }

    &-warning {
      border-color: @warning;
      color: @warning;
    }

    &-error {
      border-color: @error;
      color: @error;
    }
  }
}

button.button.easy-button-primary:hover:not(.button-is-disabled):not(.button-is-mask), button.button.easy-button-primary:not(.button-is-disabled):not(.button-is-mask):focus {
  color: #fff;
  background: @primary;
  border-color: @primary;
}

button.button.easy-button-success:hover:not(.button-is-disabled):not(.button-is-mask), button.button.easy-button-success:not(.button-is-disabled):not(.button-is-mask):focus {
  color: #fff;
  background-color: #85ce61;
  border-color: #85ce61;
}

button.button.easy-button-warning:hover:not(.button-is-disabled):not(.button-is-mask), button.button.easy-button-warning:not(.button-is-disabled):not(.button-is-mask):focus {
  color: #fff;
  background-color: #ebb563;
  border-color: #ebb563;
}

button.button.easy-button-error:hover:not(.button-is-disabled):not(.button-is-mask), button.button.easy-button-error:not(.button-is-disabled):not(.button-is-mask):focus {
  color: #fff;
  background-color: #f78989;
  border-color: #f78989;
}

button.button.easy-button-default:not(.button-is-disabled):not(.button-is-mask):not(.easy-button-text):focus, button.button.easy-button-default:hover:not(.button-is-disabled):not(.button-is-mask):not(.easy-button-text) {
  color: #409EFF;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}

button.button-is-mask:hover:not(.button-is-disabled) .button-mask-text {
  color: white;
}

button.button-is-mask {
  &-primary {
    border-color: @primary;
  }

  &-success {
    border-color: @success;
  }

  &-warning {
    border-color: @warning;
  }

  &-error {
    border-color: @error;
  }
}

button.easy-button {
  &-text {
    color: @primary;
    background-color: transparent;
    border: none;
    padding: 0;

    .button-text {
      transition: color .2s linear;
    }
  }

  &-primary {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
  }

  &-success {
    color: #fff;
    background-color: @success;
    border-color: @success;
  }

  &-warning {
    color: #fff;
    background-color: @warning;
    border-color: @warning;
  }

  &-error {
    color: #fff;
    background-color: @error;
    border-color: @error;
  }

  &__small {
    padding: 6px 7px;
  }

  &__large {
    padding: 11px 15px;
    font-size: 16px;
  }
}

button.button + button.button {
  margin-left: 10px;
}

button.button:not(.button-is-disabled):not(.button-is-mask):active {
  color: #3a8ee6;
  border-color: #3a8ee6;
  outline: 0;
}

button.button [class*=el-icon-] + span {
  margin-left: 5px;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
