{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["plugin:vue/recommended", "prettier/@typescript-eslint", "plugin:prettier/recommended"],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json",
    "extraFileExtensions": [".vue"],
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["vue", "babel", "@typescript-eslint"],
  "rules": {
    "no-useless-escape": "off",
    "no-prototype-builtins": "off",
    "no-console": "error",
    "vue/max-attributes-per-line": "off",
    "vue/require-default-prop": "off",
    "vue/html-self-closing": "off",
    "vue/require-prop-types": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/no-v-model-argument": "off",
    "vue/no-v-html": "off"
  }
}
