/node_modules
/dist
/.idea
/v-easy
/src/README.md
/v-easy-components
/src/style/fonts/fontawesome-webfont.woff
/src/style/input
/src/style/tip
/src/LICENSE
/src/package.json
/src/theme-chalk/lib
/src/style
/bin
