**/*.svg
dist/
coverage/
LICENSE
yarn.lock
yarn-error.log
*.sh
*.snap
.gitignore
.npmignore
.prettierignore
.editorconfig
.eslintignore
**/*.yml
**/assets
.gitattributes
.stylelintrc
.vcmrc
.huskyrc
.gitmodules
*.png
*.md
*.enc
*.jpg
*.styl
*.ttf
*.ai
.browserslistrc
